---
services:
  testdata-generator:
    build:
      context: ./testdata-generator
      dockerfile: Dockerfile
    container_name: testdata-generator
    environment:
      - SPRING_APPLICATION_NAME=testdata-generator
      - OPENSEARCH_URL=${OPENSEARCH_URL:-http://test-target-opensearch:9200}
      - DATA_GENERATION_MODE=${TEST_DATA_GENERATION_MODE:-dynamic}
      - DATA_GENERATION_COUNT=${TEST_DATA_GENERATION_COUNT:-1000}
      - LOGGING_LEVEL_ROOT=${LOGGING_LVL_ROOT:-ERROR}
      - LOGGING_LEVEL_ORG_ELASTICSEARCH=${LOGGING_LVL_ELASTIC:-ERROR}
      - LOGGING_LEVEL_COM_OPENSEARCHLOADTESTER_TESTDATAGENERATOR=${LOGGING_LVL_TESTDATA_GEN:-INFO}
    networks:
      - opensearch-loadtester-network
    healthcheck:
      test: ["CMD", "pgrep", "-f", "app.jar"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 5s
    volumes:
      - testdata:/app/data
    depends_on:
      test-target-opensearch:
        condition: service_healthy

  load-generator:
    build:
      context: ./load-generator
      dockerfile: Dockerfile
    deploy:
      replicas: ${LOAD_GENERATOR_REPLICAS:-1}
    environment:
      - SPRING_APPLICATION_NAME=load-generator
      - OPENSEARCH_URL=${OPENSEARCH_URL:-http://test-target-opensearch:9200}
      - METRICS_REPORTER_URL=${METRICS_REPORTER_URL-http://metrics-reporter:8080/api/}
      - LOGGING_LEVEL_ROOT=${LOGGING_LVL_ROOT:-ERROR}
      - LOGGING_LEVEL_ORG_ELASTICSEARCH=${LOGGING_LVL_ELASTIC:-ERROR}
      - LOGGING_LEVEL_COM_OPENSEARCHLOADTESTER_LOADGENERATOR=${LOGGING_LVL_LOAD_GEN:-INFO}
    networks:
      - opensearch-loadtester-network
    healthcheck:
      test: [ "CMD-SHELL", "wget -q -O
             - http://localhost:8081/api/load-test/health
             || exit 1" ]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 5s
    depends_on:
      testdata-generator:
        condition: service_completed_successfully

  metrics-reporter:
    build:
      context: ./metrics-reporter
      dockerfile: Dockerfile
    container_name: metrics-reporter
    environment:
      - SPRING_APPLICATION_NAME=metrics-reporter
      - LOAD_GENERATOR_REPLICAS=${LOAD_GENERATOR_REPLICAS:-1}
      - LOGGING_LEVEL_ROOT=${LOGGING_LVL_ROOT:-ERROR}
      - LOGGING_LEVEL_ORG_ELASTICSEARCH=${LOGGING_LVL_ELASTIC:-ERROR}
      - LOGGING_LEVEL_COM_OPENSEARCHLOADTESTER_METRICSREPORTER=${LOGGING_LVL_METRICS_REPORTER:-INFO}
    networks:
      - opensearch-loadtester-network
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD-SHELL", "wget -q -O
            - http://localhost:8080/api/health
            || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    depends_on:
      testdata-generator:
        condition: service_completed_successfully
      load-generator:
        condition: service_healthy

  test-target-opensearch:
    image: opensearchproject/opensearch:2.16.0
    container_name: test-target-opensearch
    restart: unless-stopped
    environment:
      - DISABLE_SECURITY_PLUGIN=true
      - discovery.type=single-node
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
    #volumes:
    #  - opensearch-data:/usr/share/opensearch/data
    networks:
      - opensearch-loadtester-network
    ###
    # Example Usage:
    # curl -X PUT "http://localhost:9200/test-index"
    ##
    ports:
      - "9200:9200" # OpenSearch REST API
      #- "9600:9600" # OpenSearch Performance Analyzer
    healthcheck:
      test: [ "CMD-SHELL", "wget -q -O
            - http://test-target-opensearch:9200/_cluster/health
            | grep green || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 10s

  curl:
    image: alpine/curl
    container_name: curl
    restart: unless-stopped
    profiles:
      - curl
    command: ["sleep", "infinity"]
    networks:
      - opensearch-loadtester-network

networks:
  opensearch-loadtester-network:
    driver: bridge

volumes:
    testdata:
        driver: local
#  opensearch-data:
#    driver: local

