---
services:
  testdata-generator:
    build:
      context: .
      dockerfile: testdata-generator/Dockerfile
    container_name: testdata-generator
    environment:
      - SPRING_APPLICATION_NAME=testdata-generator
      - OPENSEARCH_URL=${OPENSEARCH_URL:-http://test-target-opensearch:9200}
      - DATA_GENERATION_MODE=${TEST_DATA_GENERATION_MODE:-dynamic}
      - DATA_GENERATION_DOCUMENT_TYPE=${TEST_DATA_GENERATION_DOCUMENT_TYPE:-ano}
      - DATA_GENERATION_COUNT=${TEST_DATA_GENERATION_COUNT:-1000}
      - DATA_GENERATION_BATCH_SIZE=${TEST_DATA_GENERATION_BATCH_SIZE:-1000}
      - LOGGING_LEVEL_ROOT=${LOGGING_LVL_ROOT:-ERROR}
      - LOGGING_LEVEL_ORG_ELASTICSEARCH=${LOGGING_LVL_ELASTIC:-ERROR}
      - LOGGING_LEVEL_COM_OPENSEARCHLOADTESTER_TESTDATAGENERATOR=${LOGGING_LVL_TESTDATA_GEN:-INFO}
    networks:
      - opensearch-loadtester-network
    healthcheck:
      test: [ "CMD", "pgrep", "-f", "app.jar" ]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 5s
    volumes:
      - testdata:/app/data
    depends_on:
      test-target-opensearch:
        condition: service_healthy

  load-generator:
    build:
      context: .
      dockerfile: load-generator/Dockerfile
    deploy:
      replicas: ${LOAD_GENERATOR_REPLICAS:-1}
    volumes:
      - ./load-generator/scenarios:/app/scenarios:ro
    environment:
      - SPRING_APPLICATION_NAME=load-generator
      - OPENSEARCH_URL=${OPENSEARCH_URL:-http://test-target-opensearch:9200}
      - METRICS_REPORTER_URL=${METRICS_REPORTER_URL:-http://metrics-reporter:8080/api}
      - LOAD_GENERATOR_REPLICAS=${LOAD_GENERATOR_REPLICAS:-1}
      - LOGGING_LEVEL_ROOT=${LOGGING_LVL_ROOT:-ERROR}
      - LOGGING_LEVEL_ORG_ELASTICSEARCH=${LOGGING_LVL_ELASTIC:-ERROR}
      - LOGGING_LEVEL_COM_OPENSEARCHLOADTESTER_LOADGENERATOR=${LOGGING_LVL_LOAD_GEN:-INFO}
      - SCENARIO_CONFIG_PATH=${SCENARIO_CONFIG_PATH:-scenarios/default-scenario.yaml}
    networks:
      - opensearch-loadtester-network
    healthcheck:
      test: [ "CMD-SHELL", "wget -q -O
             - http://localhost:8081/api/load-test/health
             || exit 1" ]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 5s
    depends_on:
      testdata-generator:
        condition: service_completed_successfully
      metrics-reporter:
        condition: service_healthy

  metrics-reporter:
    build:
      context: .
      dockerfile: metrics-reporter/Dockerfile
    container_name: metrics-reporter
    user: "0:0"
    environment:
      - SPRING_APPLICATION_NAME=metrics-reporter
      - LOAD_GENERATOR_REPLICAS=${LOAD_GENERATOR_REPLICAS:-1}
      - REPORT_OUTPUT_DIRECTORY=${REPORT_OUTPUT_DIRECTORY:-./reports}
      - LOGGING_LEVEL_ROOT=${LOGGING_LVL_ROOT:-ERROR}
      - LOGGING_LEVEL_ORG_ELASTICSEARCH=${LOGGING_LVL_ELASTIC:-ERROR}
      - LOGGING_LEVEL_COM_OPENSEARCHLOADTESTER_METRICSREPORTER=${LOGGING_LVL_METRICS_REPORTER:-INFO}
      - METRICS_BATCH_SIZE=${METRICS_BATCH_SIZE:-100}
    networks:
      - opensearch-loadtester-network
    ports:
      - "8080:8080"
    volumes:
      - reports:/app/reports
    healthcheck:
      test: [ "CMD-SHELL", "wget -q -O
            - http://metrics-reporter:8080/api/health
            || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  test-target-opensearch:
    image: opensearchproject/opensearch:2.16.0
    container_name: test-target-opensearch
    restart: unless-stopped
    environment:
      - DISABLE_SECURITY_PLUGIN=true
      - discovery.type=single-node
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
    #volumes:
    #  - opensearch-data:/usr/share/opensearch/data
    networks:
      - opensearch-loadtester-network
    ###
    # Example Usage:
    # curl -X PUT "http://localhost:9200/test-index"
    ##
    ports:
      - "9200:9200" # OpenSearch REST API
      #- "9600:9600" # OpenSearch Performance Analyzer
    healthcheck:
      test: [
        "CMD-SHELL",
        "curl -s \
          http://test-target-opensearch:9200/_cluster/health
          | grep green || exit 1",
      ]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 10s

  loki:
    image: grafana/loki:3.6.3
    container_name: loki
    restart: unless-stopped
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ./deploy/loki-config.yaml:/etc/loki/loki-config.yaml:ro
    networks:
      - opensearch-loadtester-network

  alloy:
    image: grafana/alloy:latest
    restart: unless-stopped
    command: run --server.http.listen-addr=0.0.0.0:12345 /etc/alloy/config.alloy
    ports:
      - 127.0.0.1:12345:12345
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - reports:/app:ro
      - ./deploy/config.alloy:/etc/alloy/config.alloy:ro
    networks:
      - opensearch-loadtester-network

  # http://localhost:3000
  # login: admin
  # passwd: admin
  # {job="opensearch-load-tester"}
  grafana:
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_FEATURE_TOGGLES_ENABLE=alertingSimplifiedRouting,alertingQueryAndExpressionsStepMode
    entrypoint:
      - sh
      - -euc
      - /run.sh
    image: grafana/grafana:12.3.1
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./deploy/grafana-dashboards.yaml:/etc/grafana/provisioning/dashboards/dashboards.yaml:ro
      - ./deploy/Load-Test-Results-Dashboard.json:/etc/grafana/provisioning/dashboards/opensearch-dashboard.json:ro
      - ./deploy/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml:ro
    networks:
      - opensearch-loadtester-network

networks:
  opensearch-loadtester-network:
    driver: bridge

volumes:
  testdata:
    driver: local
  reports:
    driver: local
#  opensearch-data:
#    driver: local

