name: Intregration Test

on:
## Does not work for now bc spring boot doesn't closes exits yet
  push:
    branches: [ main ]
#  pull_request:
#    branches: [ main ]
  workflow_dispatch:
    inputs:
      replicas:
        description: 'Number of load generator replicas'
        required: false
        default: '3'
      records:
        description: 'Number of test data records'
        required: false
        default: '1000'

jobs:
  integration-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Docker Compose
        run: sudo apt-get update && sudo apt-get install -y docker-compose

      - name: Update values in .env on dispatch
        run: |
          replicas="${{ github.event.inputs.replicas || 3 }}"
          records="${{ github.event.inputs.records || 1000 }}"

          sed -i.bak "s/^LOAD_GENERATOR_REPLICAS=.*/LOAD_GENERATOR_REPLICAS=${replicas}/" .env
          sed -i.bak "s/^TEST_DATA_GENERATION_COUNT=.*/TEST_DATA_GENERATION_COUNT=${records}/" .env

          cat .env

      - name: delpoy container
        run: |
          apt-get update && apt-get install -y make
          make build
          make run
          make logs >> integration-test-reports.log

      - name: Upload Test Reports
        uses: actions/upload-artifact@v5
        with:
          name: integration-test-reports.log
          path: integration-test-reports.log

#####
# No workflow to tag and push images to Docker Hub or GitHub Container Registry yet
#####
