name: Test & Build Testdata Generator

on:
  push:
    paths:
      - 'testdata-generator/**'
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      data_mode:
        description: 'DATA_GENERATION_MODE'
        required: false
        default: 'PERSISTENT'
      data_count:
        description: 'DATA_GENERATION_COUNT'
        required: false
        default: '10'
      data_type:
        description: 'DATA_GENERATION_DOCUMENT_TYPE'
        required: false
        default: 'ANO'
      logging_level:
        description: 'LOGGING_LEVEL_TESTADATA_GENERATOR'
        required: false
        default: 'INFO'

jobs:
  testdata-generator:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Change permissions for report folder
        run: chmod -R 777 ./reports

      - name: start opensearch container
        run: |
          docker compose -f docker-compose.yaml up --wait -d test-target-opensearch
      
      - name: Build testdata-generator image from Build Stage
        run: docker build --target build -t testdata-generator-build -f testdata-generator/Dockerfile .

      - name: Run unit tests inside Build container
        env:
          LOGGING_LEVEL_COM_OPENSEARCHLOADTESTER_TESTDATAGENERATOR: ${{ github.event.inputs.logging_level || 'INFO' }}
          DATA_GENERATION_DOCUMENT_TYPE: ${{ github.event.inputs.data_type || 'ANO' }}
          DATA_GENERATION_MODE: ${{ github.event.inputs.data_mode || 'DYNAMIC' }}
          DATA_GENERATION_COUNT: ${{ github.event.inputs.data_count || '10' }}
          DATA_GENERATION_OUTPUT_PATH: data/testdata.json
          OPENSEARCH_URL: http://test-target-opensearch:9200
        run: |
          NETWORK=$(docker inspect --format='{{range $k,$v := .NetworkSettings.Networks}}{{$k}}{{end}}' test-target-opensearch)
          echo "Using network: $NETWORK"
          docker run \
            --name testdata-generator-test-runner \
            --network "$NETWORK" \
            -v "${{ github.workspace }}/testdata-generator":/app:rw \
            -v "${{ github.workspace }}/reports":/app/data:rw \
            -w /app \
            -e LOGGING_LEVEL_COM_OPENSEARCHLOADTESTER_TESTDATAGENERATOR \
            -e DATA_GENERATION_DOCUMENT_TYPE \
            -e DATA_GENERATION_OUTPUT_PATH \
            -e DATA_GENERATION_COUNT \
            -e DATA_GENERATION_MODE \
            -e OPENSEARCH_URL \
            testdata-generator-build \
            mvn -f pom.xml clean test

      - name: Export Container Logs - Make Directory
        if: always()
        run: mkdir -p container-logs

      - name: Export Container Logs - testdata-generator
        if: always()
        run: docker logs testdata-generator-test-runner > container-logs/testdata-generator.log 2>&1

      - name: Upload Container Logs Artifact
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: docker-container-logs
          path: container-logs/**

      - name: Upload generated test data
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: generated-test-data.json
          path: reports/testdata.json

      - name: Upload Unit Test Reports
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: testdata-generator-test-reports
          path: testdata-generator/target/surefire-reports
